.page {
  margin-top: 130px;
}

.page h1 {
  font-size: 3rem;
  text-transform: uppercase;
}

.page h3 {
  margin-top: 4rem;
}

.page h4 {
  margin-top: 2rem;
}

.page hr {
  margin-top: 1.5rem;
  border-top: none;
  border-bottom: 2px solid #88B04B;
  margin-bottom: 1.5rem;
  max-width: 4rem;
  margin-left: 0;
}

.page ul {
  list-style-type: disc;
  list-style-position: outside;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.page ul li {
  margin-bottom: 0.5rem;
}

.page dl {
  margin-bottom: 2rem;
}