
        <div class="card-deck">
          {% include card.html title="Photo Studio" text="The perfect small space for a creative, whether you need to shoot portraits, products or do a piece to camera for a video. You get to use all or our equipment and we're on hand to help." cta="Get inspired" %}

          {% include card.html title="Video Studio" text="Our video studio is ideally suited for music videos, green screen shoots, and interviews. All our backdrops and continuous lighting is included in the hire for free." cta="Check out the possibilities" %}

          {% include card.html title="Workshops" text="Photography workshops and private lessons available in Petersham, Sydney. Covering natural lighting, studio lighting, retouching, and more. Classes limited to 5 people." cta="See list of courses" %}

        </div>
        <div class="card-deck">
          
          {% include card.html title="Desks" text="Where else will you get your own coffee mug and a friendly succulent on arrival? Whether you’re looking for a desk for the day, week or full-time, you’ll get more than just furniture." cta="Wanna be a Deskie?" %}
          
          {% include card.html title="Meetings" text="Need to put a bit of polish on your pitch presentations? Or just need a place to meet a client or your team? Your plan gives you access to our conference room." cta="Impress your clients" %}

          {% include card.html title="Events" text="We have a small event space in the Inner West for you. Our studio can be easily converted into a theatre, art gallery or themed function space using our system of theatre drapes and lighting." cta="Drop in for a tour" %}
          
        </div>
