
        <div class="card-deck">
          {% include card.html title="Desk" text="Where else will you get your own coffee mug and a friendly succulent on arrival? Whether you’re looking for a desk for the day, week or full-time, you’ll get more than just furniture." cta="Wanna be a Deskie?" %}
          {% include card.html title="Studio" text="The perfect small space for a creative, whether you need to shoot portraits, products or do a piece to camera for a video." cta="Get inspired" %}
          {% include card.html title="Meetings" text="Need to put a bit of polish on your pitch presentations? Or just need a place to meet a client or your team? Your plan gives you access to our conference room." cta="Impress your clients" %}
        </div>
        <div class="card-deck">
          {% include card.html title="Extras" text="We like to give a little extra to our community members – there’s a green room coming, space to do workshops, and a venue-for-hire next door." cta="Make your goals happen" %}
          {% include card.html title="Community" text="Creativity doesn’t happen in a vacuum&hellip; get a tonne of inspo in your co-working life from our Camperdown Creative Collective! " cta="Get involved" %}
          {% include card.html title="Plans" text="Affordable, flexible and designed to suit your budget. We offer hot desk and permanent plans, as well as studio-only prices." cta="Compare our prices" %}
        </div>
