<div class="card text-center">
  
  <img class="card-img-top" src="{{ site.baseurl }}/images/cards/{{ include.title | downcase }}.webp" alt="Card image cap">
  <!--<img class="card-img-top" src="http://via.placeholder.com/384x384" alt="Card image cap">-->
  <div class="card-body">
    <h4 class="card-title">{{ include.title }}</h4>
    <p class="card-text">{{ include.text }}</p>
    <a href="{{ site.baseurl }}/{{ include.title | downcase }}/" class="btn btn-primary">{{ include.cta }}</a>
  </div>
</div>