    <!-- Section - Contact -->
    <section id="contact" class="section--contact">
      <div class="container">
        <h1 class="text-center">Schedule a tour</h1>

        <hr class="divider">

        <div class="row">
          <div class="col-md-8 push-md-2">
            <p class="text-center">Leave us your contact details, and we'll call you to organise a time to show you around.</p>
          </div>
        </div>

        <br>

        <!-- Contact form -->
        <div class="row">
          <div class="col-md-8 push-md-2">
            <form id="formContact" class="js-form js-form--contact form form--contact" action="#" method="post">
              <div class="row">
                <div class="col-sm-6">
                  <!-- Input - Name -->
                  <fieldset class="form-group">
                    <input id="contactName" class="form-element form-element-transparent" name="contactName" type="text" required>

                    <label class="form-label" for="heroEmail">Name</label>
                  </fieldset><!-- .end Input - Name -->
                </div>

                <div class="col-sm-6">
                  <!-- Input - Email -->
                  <fieldset class="form-group">
                    <input id="contactEmail" class="form-element form-element-transparent" name="contactEmail" type="email" required>

                    <label class="form-label" for="heroEmail">Email</label>
                  </fieldset><!-- .end Input - Email -->
                </div>
              </div>

              <!-- Input - Phone -->
              <fieldset class="form-group">
                <input id="contactPhone" class="form-element form-element-transparent" name="contactPhone" type="tel" required>

                <label class="form-label" for="heroEmail">Phone</label>
              </fieldset><!-- .end Input - Phone -->

              <div class="form-group btn__container">
                <button class="btn btn--full btn--full--primary btn--round" form="formContact"  type="submit" value="Submit message">Submit message</button>
              </div>
            </form><!-- .end Contact form -->
          </div>
        </div>
      </div>
    </section><!-- .end Section - Contact -->