
<div class="container">
  <!--<a class="" href="#top"><i class="fa fa-angle-up"></i></a>-->
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <dl>
        <dt>Ready to rock the co-working vibe?</dt>
        <dd><a href="{{ site.baseurl }}/desk/">Book a desk</a></dd>

        <dt>Need a studio for the day?</dt>
        <dd><a href="{{ site.baseurl }}/studio/">Check out the space</a></dd>

        <dt>Collaborating on a project?</dt>
        <dd><a href="{{ site.baseurl }}/meetings/">Use the conference room</a></dd>

        <dt>How do we compare?</dt>
        <dd><a href="{{ site.baseurl }}/plans/">Great value with flexible plans</a></dd>

        <dt>Looking for creative ju-ju?</dt>
        <dd><a href="{{ site.baseurl }}/community/">Join the Camperdown Creative Collective</a></dd>

        <dt>Let’s chat!</dt>
        <dd><a href="{{ site.baseurl }}/contact/">Contact me</a></dd>
      </dl>
    </div>

    <div class="col-sm-12 col-lg-6 text-center text-md-right">
      <img class="logo" src="{{ site.baseurl }}/images/logos/logo--deskandstudio--footer.svg">
      <ul class="nav social-links">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/deskandstudio/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/deskandstudio/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://twitter.com/deskandstudio" target="_blank" rel="noopener" class="link--default"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/company/18164424/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-linkedin"></i></a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link" href="https://www.theloop.com.au/deskandstudio/overview" target="_blank" rel="noopener" class="link--default">The Loop</a>
        </li>
        -->
      </ul>
      <p>
        <a href="{{ site.baseurl }}/sitemap/">Sitemap</a> | <a href="{{ site.baseurl }}/privacy/">Privacy Policy</a> | <a href="{{ site.baseurl }}/terms/">Terms and Conditions</a><br>
        © 2017 Desk &amp; Studio All Rights Reserved. ABN 29 208 109 739.
      </p>
    </div>
  </div>
</div>
