    <!-- Footer -->
    <footer>
      <div class="container">
        <a class="js-top btn--fab btn--fab--primary btn--fab--medium" href="#top"><i class="fa fa-angle-up"></i></a>

        <div class="row">

          <div class="col-12">
            <!-- Social media icons (cheatsheet for icons: http://fontawesome.io/cheatsheet/) -->
            <ul class="nav--social">
              <!-- Social media icon - Twitter -->
              <li>
                <a href="https://twitter.com/deskandstudio" target="_blank" rel="noopener" class="link--default"><i class="fa fa-twitter"></i></a>
              </li>

              <!-- Social media icon - Facebook -->
              <li>
                <a href="https://www.facebook.com/deskandstudio/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-facebook"></i></a>
              </li>

              <!-- Social media icon - Linkedin -->
              <li>
                <a href="https://www.linkedin.com/company-beta/18164424/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-linkedin"></i></a>
              </li>

              <li class="list-break"></li>

              <!-- Social media icon - Instagram -->
              <li>
                <a href="https://www.instagram.com/deskandstudio/" target="_blank" rel="noopener" class="link--default"><i class="fa fa-instagram"></i></a>
              </li>

              <!-- Social media icon - The Loop -->
              <!--
              <li>
                <a href="https://www.theloop.com.au/deskandstudio/overview" target="_blank" rel="noopener" class="link--default">The Loop</a>
              </li>
              -->
            </ul><!-- .end Social media icons -->

            <!-- Copyright -->
            <small class="footer__copy d-block text-center">Template &copy;2017 Alex Devero, copy and images &copy; 2017 Lyn Taylor.</small>
          </div>

        </div>
      </div>
    </footer><!-- .end Footer -->