  <!-- Scripts -->
  <!-- jQuery library hosted on CDN -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- or local version of jQuery library -->
  <!-- <script>window.jQuery || document.write('<script src="./js/vendor/jquery.min.js"><\/script>')</script> -->

  <!-- Plugin for lazyloading images -->
  <script src="./js/plugins/lazyload.min.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="./js/vendor/tether.min.js"></script>
  <script src="./js/vendor/bootstrap.min.js"></script>

  <!-- Main JavaScript file -->
  <script src="./js/main.min.js"></script>

  {% include ga.html %}
  {% include adwords.html %}

  <!--Start of Tawk.to Script-->
  <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/598d684b1b1bed47ceb04124/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->
  <script src="./js/tawk.js"></script>