
  <meta charset="UTF-8">

  <title>{{ site.title }}</title><!-- Title of your website (maximum length is 60-70 characters) -->

  <meta http-equiv="X-UA-Compatible" content="IE=edge"><!-- Defines what mode should Internet Explorer & MS Edge use to display the content (compatibility) -->
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Meta tag for responsive web design viewport  -->
  <meta name="handheldFriendly" content="true"><!-- General standard for identifying mobile-ready websites -->
  <meta name="description" content="{{ site.description }}"><!-- Maximum length 155 characters -->
  <meta name="author" content="Lyn Taylor">
  <meta name="subject" content="{{ site.title }}"><!-- Title of your website (maximum length is 60-70 characters) -->
  <meta name="language" content="English"><!-- Language of your website -->
  <meta name="robots" content="index,follow"><!-- Allow/Disallow search enine robots to index and crawl your website -->
  <meta name="googlebot" content="index,follow"><!-- Allow/Disallow Google robot to index and crawl your website -->
  <meta name="classification" content="business"><!-- Classification of your website -->
  <meta name="url" content="{{ site.url }}"><!-- URL of the website -->
  <meta name="identifier-URL" content="{{ site.url }}"><!-- URL of your website -->
  <meta name="coverage" content="AU"><!-- Options: http://xml.coverpages.org/country3166.html -->
  <meta name="distribution" content="Global"><!-- Global - your website is intended for everyone; Local - for local distribution of your document; IU - Internal Use, not intended for public distribution -->
  <meta name="rating" content="General"><!-- Rating of your website -->
  <link rel="author" href="https://plus.google.com/+YourGooglePlusProfile">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/favicon/manifest.json">
  <link rel="mask-icon" href="/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <meta name="msapplication-config" content="/images/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <!-- Facebook OpenGraph tags -->
  <meta property="og:title" content="{{ site.title }}"><!-- Title of yuor website -->
  <meta property="og:type" content="website"><!-- Type of the Facebook OpenGraph tag -->
  <meta property="og:description" content="{{ site.description }}"><!-- Description of your website -->
  <meta property="og:image" content="{{ site.image }}"><!-- URL to thumbnail image for your website -->
  <meta property="og:url" content="{{ site.url }}"><!-- URL of your website -->
  <meta property="og:locale" content="en_US"><!-- Default language of your website -->
  <meta property="og:site_name" content="{{ site.name }}"><!-- Name of your website -->

  <!-- Twitter cards tags -->
  <meta name="twitter:card" content="summary"><!-- Type of Twitter card -->
  <meta name="twitter:creator" content=""><!-- Your Twitter handler (with '@') -->
  <meta name="twitter:title" content="{{ site.title }}"><!-- Title of your website -->
  <meta name="twitter:description" content="{{ site.description }}"><!-- Desription of your website -->
  <meta name="twitter:image" content="{{ site.image}} " ><!-- URL to thumbnail image for your website -->
  <meta name="twitter:url" content="{{ site.url }}"><!-- URL of your website -->

  <!--  Google+ / Schema.org -->
  <meta itemprop="name" content="{{ site.name }}"><!-- Title of your website -->
  <meta itemprop="description" content="{{ site.description }}"><!-- Desription of your website -->
  <meta itemprop="image" content="{{ site.image }}"><!-- URL to thumbnail image for your website -->

  <!-- Fonts -->
  <!-- Open Sans font hosted on CDN -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">

  <!-- Raleway font hosted on CDN -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700">

  <!-- Fontawesome icon font -->
  <!-- Version hosted on CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Bootstrap Stylesheet -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">

  <!-- Master Stylesheet -->
  <link rel="stylesheet" href="/css/main.min.css">
  <!--<link rel="stylesheet" href="/css/main.css">-->