    <!--[if lt IE 9]>
      <p class="upgrade-browser">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="website-header fixed-top">
      <div class="container">
        <!-- Main navigation -->
        <nav class="navbar navbar-toggleable-sm navbar-light navbar-trinity">
          <!-- Toggle button for mobile navigation -->
          <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navigation-main" aria-controls="navigation-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>

            <!-- <span class="navbar-toggler-icon"></span> -->

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>

            <span class="icon-bar"></span>
          </button>
          
          <!-- Webste logo -->
          <a class="navbar-brand" href="{{ site.baseurl }}/" aria-label="Visit homepage"><img id="navbar-logo" alt="Desk and Studio" src="{{ site.baseurl }}/images/logos/logo--deskandstudio-text--bw.svg"></a>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse justify-content-end" id="navigation-main">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item">
                <a class="nav-link" href="/" aria-label="Visit homepage">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/desk/" aria-label="Visit Desk">Desk</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/studio/" aria-label="Visit Studio">Studio</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/meetings/" aria-label="Visit Meetings">Meetings</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/extras/" aria-label="Visit Extras">Extras</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/community/" aria-label="Visit Community">Community</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/plans/" aria-label="Visit Plans">Plans</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="/contact-us/" aria-label="Visit Contact">Contact</a>
              </li>
            </ul>
          </div><!-- end .navbar-collapse -->
        </nav><!-- end .navbar -->
      </div>
    </header>