<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">COVID-19 Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h2>We're open, with a few rules</h2>
        <p class="lead">We're still open, and it's a great time to be creating content. However, there are a few rules.</p>
        <p>In order to keep everyone safe we are enforcing the following rules:</p>
        <ul>
          <li>Maximum of 5 people in your crew</li>
          <li>No one on site with flu-like symptoms</li>
          <li>No one on site who's had contact with a confirmed case of COVID-19 within the last 2 weeks</li>
          <li>Wash your hands!</li>
        </ul>
        <p>Please <a href="/contact/">get in contact</a> if you have questions. Otherwise go ahead and <a target="_blank" href="https://deskandstudio.simplybook.me/v2/#book">Book now</a>.</p>
        <p>Lyn</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>