
        <nav class="navbar navbar-expand-xl sticky-top navbar-light">
          <div class="container">
            <a class="navbar-brand" href="{{ site.baseurl }}/">
              <img class="navbar-logo" alt="Desk and Studio" src="{{ site.baseurl }}/images/logos/logo--deskandstudio-text--bw.svg">
            </a>
            
            <form class="form-inline">
              <a class="btn btn-sm btn-primary my-2" target="_blank" href="https://deskandstudio.simplybook.me/v2/#book">Book now</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </form>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item{% if page.url == '/' %} active{% endif %}">
                  <a class="nav-link" aria-label="Visit homepage" href="{{ site.baseurl }}/">Home</a>
                </li>
                <li class="nav-item{% if page.url == '/photo-studio/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/photo-studio/">Photo Studio</a>
                </li>
                <li class="nav-item{% if page.url == '/video-studio/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/video-studio/">Video Studio</a>
                </li>
                <li class="nav-item{% if page.url == '/workshops/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/workshops/">Workshops</a>
                </li>
                <li class="nav-item{% if page.url == '/desks/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/desks/">Desks</a>
                </li>
                {% comment %}
                <li class="nav-item{% if page.url == '/meetings/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/meetings/">Meetings</a>
                </li>
                {% endcomment %}
                <li class="nav-item{% if page.url == '/events/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/events/">Events</a>
                </li>
                <li class="nav-item{% if page.url == '/covid-19/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/covid-19/">COVID-19</a>
                </li>
                <li class="nav-item{% if page.url == '/contact/' %} active{% endif %}">
                  <a class="nav-link" href="{{ site.baseurl }}/contact/">Contact</a>
                </li>
              </ul>
            </div>

          </div>
        </nav>
