<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Desk for a month</h4>
    <p class="card-text display-3">$500</p>
    <ul class="card-text list-unstyled">
      <li>Fast wifi</li>
      <li>Use of photography studio (subject to availability)</li>
      <li>Use of meeting room (subject to availability)</li>
      <li>Concierge service</li>
      <li>Laser printer facilities</li>
      <li>Kitchenette with tea &amp; coffee available</li>
    </ul>
    <a class="btn btn-primary" href="{{ site.baseurl }}/contact/">Contact us</a>
  </div>
</div>
