<div class="card text-center">
  <div class="card-body">
    <h4 class="card-title">Studio for a full day</h4>
    <p class="card-text display-3">$300</p>
    <ul class="card-text list-unstyled">
      <li>2.72m wide backdrops in arctic white and jett black</li>
      <li>4m wide and 4.5m deep with 3.6m high ceilings</li>
      <li>Student discounts available</li>
    </ul>
    <a class="btn btn-primary" href="https://deskandstudio.simplybook.me/v2/#book" target="_blank">Book now</a>
  </div>
</div>