<!DOCTYPE html>
<html lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">
<head>
  {% include head.html %}
  <!-- Page Stylesheet -->
  <link rel="stylesheet" href="./css/page.css">
</head>
<body>
  <div class="wrapper">
  {% include header.html %}
    <section id="top" class="page">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-lg-8">
          {{ content }}
          </div>
          <div class="col-sm-12 col-lg-4">
            <div id="instafeed"></div>
          </div>
        </div>
      </div>
    </section>
  {% include contact.html %}
  {% include footer.html %}
  </div>
  {% include foot.html %}
  <script type="text/javascript" src="/js/vendor/instafeed.min.js"></script>
  <script type="text/javascript">
    var userFeed = new Instafeed({
        get: 'user',
        userId: '10788487',
        accessToken: '10788487.1677ed0.36960f14195042e0afd859519d712990'
    });
    userFeed.run();
</script>
</body>
</html>